
<article id="home-page" class="container main">
  <h1>{{title}}</h1>
  <div class="row">
    <div class="col-md-4">
      <ul class="main-banners-thumbs list-unstyled">
        <li ng-repeat="project in projects" ng-mouseover="changeImage($index)"><a href="" title="{{project.title}}" class="thumb"><img ng-src="{{project.thumb}}" alt="{{project.url.title}}" class="img-responsive"/></a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="main-banners-main row">
        <div class="col-md-6"><a href="" class="big_foto"><img ng-src="{{projects[index].image}}" alt="" title="" class="img-responsive"/></a></div>
        <div class="col-md-6">
          <div class="description">
            <div class="text">
              <h4 class="orange"><a href=""><strong>{{projects[index].title}}</strong></a></h4><br/><strong>Zakres prac</strong>
              <ul>
                <li>{{projects[index].description.jobs}}</li>
              </ul><strong>Technologie:</strong>
              <ul>
                <li>{{projects[index].description.tech}}</li>
              </ul><span>zobacz stronę: </span><a target="_blank" href="{{projects[index].url.href}}" title="{{projects[index].url.title}}" class="orange">{{projects[index].url.text}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>